<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FrameworkTest">
  <test name="JenkinsTest">
    <classes>
      <class name="com.amit.web.testscripts.SwitchingWindows"/>
      <class name="com.amit.web.testscripts.TC001Testtoverifyhomepage"/>
    </classes>
  </test>
</suite>
